body {
    background: #121212;
    color: white;
    font-family: Arial;
    text-align: center;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

button {
    background: #1E88E5;
    color: white;
    cursor: pointer;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
